/* perspective animation */

@import url('https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300');

.portfolioCon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1fa1b8;
    margin-top: 10px;
    padding: 15px;
}

*,
*:before,
*:after{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  outline: 1px solid transparent;
}

.wrapper{
  width: 280px;
  height: 480px;
  perspective: 800px;
  position: relative;
}

.portCard{
  width: 320px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.portCard > div{
  position: absolute;
  width: 320px;
  height: 450px;
  padding: 40px 60px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{
  background-image: linear-gradient(180deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
}

.right{ 
  background-image: linear-gradient(0deg, rgba(145,141,144,1) 0%, rgba(92,91,94,0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.portCard:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.portCard:hover .front{
  opacity: 0; 
}

.portCard:hover .right{
  opacity: 1; 
}

.portCard h1,h2{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala'; 
  font-weight: 700;
}

.portCard h2{
  font-size: 21px;
  transform: translateX(-34px);
}

.portCard p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span { 
  margin-left: 13px;
  opacity: .55;
}

.portfolioImg{
  transform-origin: bottom right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  /* transform: translateX(21%) rotateZ(13deg) skewX(3deg); */
  pointer-events: none;
  width: 250px ;
  border-radius: 8px;
}

.img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.00) infinite alternate;
  position: absolute;
  bottom: 0; right: 0; 
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.portCard:hover ~ .img-wrapper img{
  transform: scale(0.9) translateX(10%) translateY(10%) rotateZ(10deg);
}

ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}

button{
  position: absolute;
  right: 21px; 
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;  
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.portCard:hover button{
   transform: scale(1) skewY(0);
}

.portCard:not(:hover) button{
opacity: 0;
}

button:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}

/* description Component styling */
.descriptionCon 
{
  position: relative;
  width: 400px;
  margin: 0 auto;
  background: #fff;
  transition: 0.5s;
  box-shadow: 5px 30px 50px rgba(0, 0, 0, .2);
  border-radius: 9px;
}

.descriptionFace1 {
  position: absolute;
  text-align: center;
  background-color: #59bd99;
  height: 100%;
  padding: 2em;
  border-radius: 50px;
}

.descriptionFace2 {
  background-color: #303736;
  background-color: #6b574e;
  background-color: #59bd99;
  background-color: #d0aa5b;
  background-color: #1fa1b8;
}

/* test a button on the jumbotron */
.newcompCon {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 100%;
  height: 510px;
}
.case-switch-wrap h3 {
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #000000;
}

/* .case-switch {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
  height: 40px;
  width: 130px;
  background: #f0f0f0;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0%), 0 1px rgba(255, 255, 255, 10%);
} */

.switch-label {
  padding-left: 65px;
  position: relative;
  z-index: 999;
}


.switch-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.switch-label .checkmark {
  position: absolute;
  /* top: 0;
  left: 0; */
  /* height: 40px; */
  width: 65px;
  background: transparent /* set to transparent */;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}


.switch-label input:checked~.checkmark {
  color: #fff;
}
 
/* set this one to be below the other in z-index */
.switch-label.switch-label-off {
  z-index: 998;
}
/* transition on checkmark color with tiny delay */
.switch-label .checkmark {
  transition: color .3s linear .05s;
}

/* new element to use as our slider */
.switch-label.switch-label-off .checkmark::after {
  content: " ";
  position: absolute;
  top: -245px;
  z-index: -100;
  left: 0;
  height: 500px;
  width: 400px;
  background: #39ccae;
  text-align: center;
  border-radius: 4px;
  transform: translateX(-400px);
  transition: transform .3s ease-in-out;
}

.switch-label input:checked~.checkmark::after {
  transform: translateX(0px);
}

.switch-label input:checked~.text {
  font-weight: bold;
}

#port h3 {
  text-align: center;
  background-color: #59bd99;
  margin-top: 10px;
  height: 50px;
  padding: 10px;
  box-shadow:  0px 3px 9px skyblue;
}